.moviesCard {
    max-width: 270px;
}

.moviesCard__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 60px;
    margin-bottom: -4px;
}

.moviesCard__image {
    width: 100%;
}

.moviesCard__title {
    color: #FFFFFF;
    text-align: left;
    text-overflow: ellipsis;
    max-width: 226px;
    margin-top: 12px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;

}

.moviesCard__time {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #8B8B8B;
    margin: 0;
    border-top: 1px solid #424242;
    padding-top: 6px;
}

.moviesCard__add {
    margin: 0;
}

.moviesCard__button {
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin: 10px 0 25px 20px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.moviesCard__button:hover {
    -webkit-transition: .6s;
    transition: 0.6s linear;
    opacity: .6;
}

@media screen and (max-width: 768px) {
    .moviesCard {
        max-width: 339px;
    }

    .moviesCard__title {
        max-width: 295px;
        font-size: 13px;
        line-height: 16px;
    }
}

@media screen and (max-width: 424px) {
    .moviesCard {
        max-width: 300px;
    }

    .moviesCard__title {
        max-width: 240px;
        margin-top: 15px;
        font-size: 12px;
        line-height: 15px;
    }

    .moviesCard__image {
        padding: 8px 0px 0px 0px;
        margin-left: -10px;
        width: 100%;
    }

    .moviesCard__container {
            margin-bottom: -9px;
            margin-left: -10px;
    }

    .moviesCard__button {
        margin: 10px 0 30px 0px;
    }
}

@media screen and (max-width: 500px) {
    .moviesCard__time {
        font-size: 10px;
        line-height: 12px;
        margin-left: -10px;
        letter-spacing: 0.9px;
        margin-top: 9px;
    }
}